<% include ./header %>

    <!-- 引入 富文本编辑器 -->
    <script src="/ueditor/ueditor.config.js"></script>
    <script src="/ueditor/ueditor.all.min.js"></script>

    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">广告管理</a>
        </li>
        <li class="active">编辑广告</li>
    </ol>
    <!-- 路径导航 END -->


    <!-- 发布文章 -->
    <div class="container articleAdd">
        <div class="row">
            <div class="col-md-2">

                <img class="editArticleImg" src="/upload/<%=dataone.imgurl%>" style="margin-top: 10px;width: 100px;">
            </div>
            <div class="col-md-2">
                <!-- 修改图片 -->

                <!-- 修改图片 end -->
            </div>
        </div>
        <div class="row">
            <!-- 修改文本 -->
            <form action="/ad/doedit?id=<%=dataone.id%>" method="POST" enctype="multipart/form-data">
                <input type="hidden" value="<%=dataone._id%>" name="_id"> 修改图片：
                <input type="file" name="imgurl">

                <div class="col-md-6">
                    <!-- 传给 控制器 做修改哪一条文章的条件 -->
                    <input type="hidden" value="<%=data._id%>" name="_id">
                    <div class="input-group">
                        <span class="input-group-addon">广告分类</span>
                        <select name="categoryId" class="form-control">
                            <% data.forEach(function(val){ %>
                               <%if(val.id== dataone.categoryId){%>
                                <option value="<%=val.id%>" selected>
                                    <%=val.name%>
                                </option>
                               <%}else{%>
                                <option value="<%=val.id%>">
                                    <%=val.name%>
                                </option>
                               <%}%>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">广告标题</span>
                        <input type="text" class="form-control" name="title" value="<%=dataone.title%>">
                    </div>
                </div>


                <div class="col-md-12 content">
                    <textarea name="content" id="content"><%= dataone.content %></textarea>
                </div>
                <div class="col-md-6">
                    <input class="reset" type="reset">
                </div>
                <div class="col-md-6">
                    <input class="submit" type="submit">
                </div>
            </form>
        </div>
    </div>

    <script>
        // 实例化编辑器
        var ue = UE.getEditor('content');
    </script>


    <% include ./footer %>