<% include ./header %>
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">文章管理</a>
        </li>
        <li class="active">文章列表</li>
    </ol>
    <!-- 路径导航 END -->
    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/article/add" class="btn btn-primary">增加商品</a>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline" method="get" action="/article">
                        <div class="form-group">
                            <label for="name">输入关键词</label>
                            <input type="text" class="form-control" value="<%=keyword%>" id="name" name="keyword" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-hover articleList">
            <tr>
                <td>封面</td>
                <td>文章标题</td>
                <td>栏目</td>
                <td>发布时间</td>
                <td>浏览量</td>
                <td>操作</td>
            </tr>
            <% data.forEach(function(val){ %>
                <tr>
                    <td>
                        <img src="/upload/<%=val.imgurl%>" alt="" width="60">
                    </td>
                    <td>
                        <%=val.title%>
                    </td>
                    <td>
                        <!-- val.itemId.name  拿到的是 item 分类表中的 name 字段-->

                    </td>
                    <td>
                        <%=val.createdAt.toLocaleString()   %>
                    </td>
                    <td>
                        <%=val.readCount%>
                    </td>
                    <td>
                        <a href="/article/edit/<%=val.id%>">编辑</a> |
                        <a href="/article/del/<%=val.id%>" onclick="return confirm('您确定要删除吗？')">删除</a>
                    </td>
                </tr>
                <% })%>
        </table>


        <!-- 分页 -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/article?currentPage=1&keyword=<%=keyword%>">首页</a>
                </li>
                <li>
                    <a href="/article?currentPage=<%=prev%>&keyword=<%=keyword%>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <% for(var i=1;i<= totalPage; i++){ %>
                    <%if(currentPage==i){%>
                        <li>
                            <a href="/article?currentPage=<%=i%>&keyword=<%=keyword%>" style="color:red">
                                <%=i%>
                            </a>
                        </li>
                        <%}else{%>
                            <li>
                                <a href="/article?currentPage=<%=i%>&keyword=<%=keyword%>">
                                    <%=i%>
                                </a>
                            </li>
                            <%}%>
                                <% } %>

                                    <li>
                                        <a href="/article?currentPage=<%=next%>&keyword=<%=keyword%>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/article?currentPage=<%=totalPage%>&keyword=<%=keyword%>">尾页</a>
                                    </li>
            </ul>
        </nav>
        <!-- 分页 end -->

        <% include ./footer %>